modules = ["web", "python-base-3.13"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SUPABASE_ANON_KEY = "sb_publishable_gT2EZTGj4C6Hy3gJCeX0MQ_xcyRUM6L"
SUPABASE_URL = "https://hrjxoygflvxfensmclcl.supabase.co"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --directory build/web"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
